* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.5vw;
    background-color: black;
    height: 100vh;
}

.contenedorproductos {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

h1 {
    color: white;
    text-align: center;
}

.parrafo {
    text-align: justify;
    color: white;
}

label {
    color: white;
    margin-bottom: 55px;
}

section {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.noticia{
    color: white;
    display: flex;
    flex-direction: column;
}

.imagen {
    width: 12rem;
}

.titulo3, .precio3 {
    color: white;
} 

#title3, #price3 {
    color: black;
}

.prod {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer {
    background-color: black;
    text-align: right;
    margin-top: 20px;
}

.icon {
    color: #fff;
    animation: first_color .5s ease-in-out infinite alternate;
    font-size: 50px;
}

.icon:nth-child(2){
    animation-name: second_color;
}

.icon:nth-child(3){
    animation-name: third_color;
}

@keyframes first_color {
    0% {
        text-shadow: 0 0 10px #ff1177, 0 0 20px #d6249f, 0 0 30px #265AEB;
    }
    100% {
        text-shadow: 0 0 5px #ff1177, 0 0 10px #d6249f, 0 0 15px #265AEB;
    }
}

@keyframes second_color {
    0% {
        text-shadow: 0 0 10px #1877f2, 0 0 20px #1459b3, 0 0 30px #179bff;
    }
    100% {
        text-shadow: 0 0 5px #1877f2, 0 0 10px #1459b3, 0 0 15px #179bff;
    }
}

@keyframes third_color {
    0% {
        text-shadow: 0 0 10px #25d366, 0 0 20px #48ee85, 0 0 30px #0ec0a5;
    }
    100% {
        text-shadow: 0 0 5px #25d366, 0 0 10px #48ee85, 0 0 15px #0ec0a5;
    }
}